@font-face {
  font-family: "Orbitron-ExtraBold";
  src: url("../fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}

.bannerAll {
  width: 100%;
  height: 100%;
  position: relative;
}

.bannerBg-pc {
  width: 100%;
  height: 100%;
}

.bannerBg-mobile {
  display: none;
}

.banner-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: pre;
}

.bannerTitle {
  font-family: "Orbitron-ExtraBold";
  font-size: 5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.bannerExplanation {
  font-family: "Pretendard-Medium";
  font-size: 1.357rem;
  color: #c3c3c3;
}

@media (max-width: 1800px) {
  .bannerTitle {
    font-size: 4rem;
    margin-bottom: 1.2rem;
  }
  .bannerExplanation {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .bannerTitle {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }
  .bannerExplanation {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .bannerTitle {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
  .bannerExplanation {
    font-size: 0.9rem;
  }
}

@media (max-width: 430px) {
  .bannerBg-pc {
    display: none;
  }
  .bannerBg-mobile {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .bannerTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .bannerExplanation {
    font-size: 0.75rem;
  }
}
