@font-face {
  font-family: "Orbitron-ExtraBold";
  src: url("/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}
@font-face {
  font-family: "Orbitron-Medium";
  src: url("/fonts/Orbitron/Orbitron-Medium.ttf");
}

.members {
  background-color: #000;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #fff;
  position: relative;
}

.generation_buttons {
  display: flex;
  gap: 3vw;
  justify-content: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 100%;
}

.selected,
.notSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-family: "Orbitron-SemiBold", sans-serif;
  font-size: 1.125rem;
  padding: 1.2vw 2.4vw;
  min-width: 80px;
  cursor: pointer;
}

.selected {
  border: 1px solid white;
  background-color: rgba(255, 157, 0, 0.32);
  color: #fff;
}

.notSelect {
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
  background-color: #0d0d0d;
}

.members_grid {
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 3rem;
  row-gap: 3.3rem;
}

.member_sixYear {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  padding-top: 12.5rem;
  background-image: url("/MemberPlanet.svg");
  background-repeat: no-repeat;
  background-position: center 2.5rem;
  background-size: 50%;
}

.member_title {
  font-family: "Orbitron-ExtraBold", sans-serif;
  font-size: 3.3rem;
  color: #000000;
  text-shadow:
    0.1rem 0.1rem 0.5rem rgba(225, 225, 225, 0.3),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4),
    -0.1rem -0.1rem 0.25rem rgba(192, 192, 192, 0.5);
}

.member_join {
  width: 26.8rem;
  height: 4.7rem;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 7rem;
  font-family: "Pretendard-Medium", sans-serif;
  border: rgb(211, 211, 211, 0.5) 0.1rem solid;
  border-radius: 0.7rem;
  background-image: linear-gradient(to right, #ff6200, #ff8d23);
}

.member_join:hover {
  background-image: linear-gradient(
    to right,
    rgba(160, 70, 0, 1),
    rgba(160, 70, 0, 1)
  );
  cursor: pointer;
}

.member_joinButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.member_button {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  margin-bottom: 7rem;
}

.member_explanation {
  font-size: 1.1rem;
  font-family: "Orbitron-Medium", sans-serif;
  margin-top: 2rem;
}

.member_sixYear_title {
  margin-bottom: 6rem;
}

@media (max-width:1800px) {
  .members {
    padding-top: 6rem;
  }
  .selected,
  .notSelect {
    font-size: 1rem;
  }
  .members_grid {
    gap: 2.5rem;
    row-gap: 2.7rem;
  }
  .member_sixYear {
    padding-top: 11rem;
    background-position: center 2rem;
  }
  .member_title {
    font-size: 3rem;
  }
  .member_join {
    width: 26rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-bottom: 6rem;
    border-radius: 0.6rem;
  }
  .member_button {
    gap: 1rem;
    margin-bottom: 5.25rem;
  }
  .member_explanation {
    font-size: 1rem;
    margin-top: 1.6rem;
  }
  .member_sixYear_title {
    margin-bottom: 5rem;
  }
}

@media (max-width: 1024px) {
  .members {
    padding-top: 5rem;
  }
  .selected,
  .notSelect {
    font-size: 0.8rem;
  }
  .members_grid {
    gap: 2.3rem;
    row-gap: 2.4rem;
  }
  .member_sixYear {
    padding-top: 7rem;
    background-position: center 2rem;
  }
  .member_join {
    width: 22rem;
    height: 3.5rem;
    font-size: 1.4rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
  }
  .member_button {
    gap: 1rem;
    margin-bottom: 5.25rem;
  }
  .member_explanation {
    font-size: 0.9rem;
  }
  .member_sixYear_title {
    margin-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .members {
    padding-top: 4rem;
  }
  .selected,
  .notSelect {
    font-size: 0.4rem;
  }
  .members_grid {
    gap: 2rem;
    row-gap: 2rem;
  }
  .member_sixYear {
    padding-top: 7rem;
    background-position: center 2rem;
  }
  .member_join {
    width: 17rem;
    height: 2.8rem;
    font-size: 1.1rem;
    margin-bottom: 4rem;
    border-radius: 0.4rem;
  }
  .member_button {
    gap: 0.8rem;
    margin-bottom: 3rem;
  }
  .member_title{
    font-size: 2.5rem;
  }
  .member_explanation{
    font-size: 0.8rem;
    margin-top: 1.3rem;
  }
}

@media (max-width: 430px) {
  .members {
    padding-top: 3rem;
  }
  .generation_buttons{
    gap: 4rem;
  }
  .selected,
  .notSelect {
    border-radius: 0.5rem;
    font-size: 0.75rem;
    padding: 0.5rem 0.62rem;
  }
  .members_grid {
    gap: 2rem;
    row-gap: 2rem;
  }
  .member_sixYear {
    padding-top: 7rem;
    background-position: center 2rem;
  }
  .member_join {
    width: 17rem;
    height: 2.8rem;
    font-size: 1.1rem;
    margin-bottom: 4rem;
    border-radius: 0.4rem;
  }
  .member_button {
    gap: 0.8rem;
    margin-bottom: 3rem;
  }
  .member_title{
    font-size: 2.5rem;
  }
  .member_explanation{
    font-size: 0.8rem;
    margin-top: 1.3rem;
  }
}