@font-face {
  font-family: "Pretendard-bold";
  src: url("../fonts/Pretendard/Pretendard-bold.otf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
.project-box {
  width: 34.37rem;
  height: 28.94rem;
  background-color: white;
  border-radius: 1.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  aspect-ratio: 440 / 243;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.project-tag-wrap {
  position: absolute;
  left: 1.5rem;
  top: 1.12rem;
  display: flex;
  gap: 0.5rem;
}

.tag {
  font-size: clamp(10px, 0.9vw, 14px);
  padding: 0.62rem;
  border-radius: 3.125rem;
  font-family: "Pretendard-Medium", sans-serif;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
}

.project-content {
  flex-grow: 1;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid rgba(203, 203, 203, 0.65);
}

.boxTitle {
  font-family: "Pretendard-bold", sans-serif;
  font-size: clamp(15px, 1.3vw, 19px);
  color: #414141;
  margin-bottom: 8px;
}

.boxSubTitle {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: clamp(11px, 0.9vw, 13px);
  color: #959595;
  white-space: pre-wrap;
}

@media (max-width: 1023px) {
  .project-box {
    width: 25rem;
    height: 20rem;
    border-radius: 1.2rem;
  }
  .project-tag-wrap {
    left: 1rem;
    top: 0.7rem;
    gap: 0.4rem;
  }
  .tag {
    padding: 0.5rem;
    border-radius: 2.5rem;
  }
  .project-content {
    padding: 1rem;
  }
  .boxTitle {
    margin-bottom: 2px;
  }
  .boxSubTitle {
    white-space: normal;
  }
}

@media (max-width: 767px) {
  .project-box {
    width: 19rem;
    height: 17.5rem;
    border-radius: 1rem;
  }
  .project-tag-wrap {
    left: 0.7rem;
    top: 0.5rem;
  }
  .tag {
    padding: 0.4rem;
    border-radius: 2rem;
  }
  .project-content {
    padding: 0.6rem 0.8rem;
  }
  .boxTitle {
    margin-bottom: 0px;
  }
  .boxSubTitle {
    white-space: normal;
  }
}

@media (max-width: 430px) {
  .project-box {
    width: 11.06rem;
    height: 8.6rem;
    border-radius: 0.9375rem;
  }
  .project-tag-wrap {
    left: 0.7rem;
    top: 0.5rem;
  }
  .tag {
    padding: 0.4rem;
    border-radius: 2rem;
  }
  .project-content {
    padding: 0.6rem 0.8rem;
  }
  .boxTitle {
    margin-bottom: 0px;
    font-size: 0.9rem;
  }
  .boxSubTitle {
    display: none;
  }
}
