/* 폰트 설정 */
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

@font-face {
  font-family: "Orbitron-SemiBold";
  src: url("/fonts/Orbitron/Orbitron-SemiBold.ttf");
}

/* 전체 컨테이너 */
.project {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 필터 버튼 리스트 */
.list {
  display: flex;
  gap: 3vw; /* 간격도 화면 크기에 반응 */
  justify-content: center;
  margin-top: 5vw;
  width: 100%;
}

.selected,
.notSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-family: "Orbitron-SemiBold", sans-serif;
  font-size: 1.125rem;
  padding: 1.2vw 2vw;
  min-width: 80px;
  cursor: pointer;
}
/* 선택된 버튼 */
.selected {
  border: 1px solid white;
  background-color: rgba(255, 157, 0, 0.32);
  color: #fff;
}

/* 선택되지 않은 버튼 */
.notSelect {
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
  background-color: #0d0d0d;
}

.allProjects {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 2rem;
  margin-top: 4.44rem;
  margin-bottom: 4.38rem;
  width: 90%;
  max-width: 900px; /* (440px * 2) + gap(20px) */
}

/* --- 반응형 미디어 쿼리 --- */
@media (max-width: 1800px) {
  .project {
    padding-top: 6rem;
  }
  .selected,
  .notSelect {
    font-size: 1rem;
  }
  .allProjects {
    width: 90%;
    max-width: 900px; /* (440px * 2) + gap(20px) */
  }
}

@media (max-width: 1024px) {
  .project {
    padding-top: 5rem;
  }
  .allProjects {
    gap: 15px;
    width: 95%;
  }
  .selected,
  .notSelect {
    font-size: 16px;
    padding: 14px 22px;
  }
}

@media (max-width: 767px) {
  .project {
    padding-top: 80px;
  }
  .allProjects {
    gap: 1.2rem;
    margin-top: 40px;
  }
}

@media (max-width: 430px) {
  .project {
    padding-top: 3rem;
  }
  .list {
    gap: 3.38rem;
  }
  .selected,
  .notSelect {
    border-radius: 0.5rem;
    font-size: 0.75rem;
    padding: 0.5rem 0.62rem;
    min-width: 0;
    cursor: pointer;
  }
  .allProjects {
    gap: 0.5rem;
    margin-top: 2.25rem;
    margin-bottom: 6.56rem;
    width: 90%;
    max-width: 900px; /* (440px * 2) + gap(20px) */
  }
}
