@font-face {
  font-family: "Orbitron-Bold";
  src: url("/fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

#qna {
  display: flex;
  background-color: #000;
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding: 8rem 0;
}

.qa_intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.qa_intro h1 {
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 5rem;
  color: #ff6723;
}

.qa_intro p {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 7.75rem;
}

@media (max-width: 1800px) {
  #qna {
    padding: 7rem 0;
  }
  .qa_intro h1 {
    font-size: 4.5rem;
  }
  .qa_intro p {
    font-size: 1.3rem;
    margin-bottom: 7rem;
  }
}

@media (max-width: 1024px) {
  #qna {
    padding: 6rem 0;
  }
  .qa_intro h1 {
    font-size: 4rem;
  }
  .qa_intro p {
    font-size: 1rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 768px) {
  #qna {
    padding: 4rem 0;
  }
  .qa_intro h1 {
    font-size: 3.5rem;
  }
  .qa_intro p {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 430px) {
  #qna {
    padding: 2rem 0;
  }
  .qa_intro h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .qa_intro p {
    font-size: 0.75rem;
    margin-bottom: 2.12rem;
  }
  .qna-contents {
    padding: 0 10px;
  }
}
